<p>create works!</p>
<div>
    <label for="name"> Name </label>
    <input [(ngModel)]="newLoan.name" type="text">

    <label for="age"> Age </label>
    <input [(ngModel)]="newLoan.age" type="text">

    <label for="occupation"> Occupation </label>
    <input [(ngModel)]="newLoan.occupation" type="text">

    <label for="birthday"> Birthday </label>
    <input [(ngModel)]="newLoan.birthday" type="text">

    <label for="houseStatus"> houseStatus </label>
    <input [(ngModel)]="newLoan.houseStatus" type="text">

    <label for="rentCost"> rentCost </label>
    <input [(ngModel)]="newLoan.rentCost" type="number">

    <label for="yearlyNetIncome"> yearlyNetIncome</label>
    <input [(ngModel)]="newLoan.yearlyNetIncome" type="number">

    <label for="requestedLoanAmount"> requestedLoanAmount </label>
    <input [(ngModel)]="newLoan.requestedLoanAmount" type="number">

    <label for="approvedLoan"> approvedLoan </label>
    <input [(ngModel)]="newLoan.approvedLoan" type="number">

    <button (click)="onCreateLoan(newLoan)">Submit </button>


</div>
