<p>loan works!</p>

<div class="loan-div">
    <h2> Name: {{loan.name}}</h2>
    <!-- <p> Age: {{loan.age}} </p> 
    <p> Birthday:  {{loan.birthday}} </p> -->
    <table class="info-table">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Birthday</th>
        </tr>
        <tr>
          <td>{{loan.name}}</td>
          <td>{{loan.age}}</td>
          <td>{{loan.birthday}}</td>
        </tr>
        
      </table>
      <br>


    <button class="edit-delete-btns"> Edit </button>
    <button class="edit-delete-btns"> Delete </button>
</div>

