.loan-div {
    border: 1px solid white;
    box-shadow:5px 5px 5px black;
    background-color: white;
    padding: 10px 20px 10px 20px;
    margin: auto;
    width: 50%;
    height: 500px;
    text-align: center;
    justify-content: center;
}

//buttons 

.edit-delete-btn {
    display: inline-block;
    margin: 10px;
}

.update-btn {
    margin:0 auto;
    display: inline-block;
    width: 95.8%
    // margin-top: 5px;
    
}

//tables

.info-table, .edit-table {
    text-align: left;
    margin: auto;
    font-size: 15px;
    width: 700px;
}

.edit-table {
    border: 1px solid black;
}
th, td {
    padding: 5px
    
}

th {
    background-color: rgb(73, 71, 71);
    color: white;
}

td {
    background-color: whitesmoke;
    text-align: right;
}

.make-red {
    background-color: red;
    color: whitesmoke;
}

.make-green {
    background-color: green;
    color: whitesmoke;
}