.loan-div {
    border: 1px solid white;
    box-shadow:5px 5px 5px black;
    // border-radius: 25px;
    background-color: white;
    padding: 10px 20px 10px 20px;
    margin: auto;
    width: 50%;
    height: 500px;
    text-align: center;
    justify-content: center;
}

.edit-delete-btn {
    display: inline-block;
    margin: 10px;
}

.info-table {
    text-align: left;
    margin: auto;
    font-size: 15px;
    width: 700px;
    // padding: 20px
}
th, td {
    // border: 1px solid black;
    padding: 5px
    
}

th {
    background-color: rgb(73, 71, 71);
    color: white;
}

td {
    background-color: whitesmoke;
    text-align: right;
}

.make-red {
    background-color: red;
    color: whitesmoke;
}

.make-green {
    background-color: green;
    color: whitesmoke;
}